<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid style="height: 100%">
    <ion-row style="flex: 5; height: 100%; margin: 0">
      <ion-col
        size="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <img
          [src]="bleService.getImageUrl()"
          *ngIf="bleService.getImageUrl()"
          alt="Received Image"
          style="max-width: 100%; height: auto"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
