<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alerts" href="/tabs/alerts">
      <ion-icon aria-hidden="true" name="eye"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Snapshot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location" href="/tabs/location">
      <ion-icon aria-hidden="true" name="location"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>
